
/* FORM */
.auth-container form {
    margin-bottom: 20px;
    text-align: left;
}

.auth-container label {
    display: block;
    font-size: 14px;
    color: #666666; /* Texto gris */
    margin-bottom: 5px;
    text-align: left;
}

.auth-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.auth-container input:focus {
    border-color: #81c784; /* Verde claro */
    outline: none;
    box-shadow: 0 0 4px rgba(129, 199, 132, 0.5);
}

.auth-container input[type="file"] {
    padding: 5px;
    border: none;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    font-size: 14px;
}

.auth-container input[type="file"]:focus {
    outline: none;
    border: 1px solid #81c784; /* Verde claro */
}

.auth-container button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #81c784; /* Verde claro */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-container button:hover {
    background-color: #66bb6a; /* Verde más intenso */
}

.auth-container .error-message {
    color: #e57373; /* Rojo claro */
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
}

.auth-container .success-message {
    color: #4caf50; /* Verde de éxito */
    font-size: 12px;
    margin-bottom: 10px;
    text-align: left;
}

.auth-container hr {
    border: none;
    height: 1px;
    background-color: #eeeeee;
    margin: 20px 0;
}