/* static/css/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #e8f5e9; /* Verde claro */
}

.container {
    display: flex;
    flex-grow: 1;
}

/* Sidebar */
.sidebar {
    width: 25%;
    background-color: #a5d6a7; /* Verde medio */
    padding: 20px;
    border-radius: 0 20px 20px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* Sección de información del usuario */
.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border: 3px solid #81c784; /* Verde más oscuro */
}

.user-info h3 {
    margin: 0;
    color: #388e3c; /* Verde oscuro */
}

.user-info p {
    margin: 5px 0;
    color: #2e7d32; /* Verde más intenso */
}

/* Sección de solicitud */
.user-solicitud {
    margin-top: 20px;
}

.user-solicitud h4 {
    margin-bottom: 10px;
    color: #388e3c;
}

.input-request {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #81c784;
    border-radius: 5px;
}

.btn-submit {
    padding: 10px 20px;
    background-color: #81c784;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Sección de configuración */
.config-section {
    margin-top: auto; /* Empuja la sección al final */
    text-align: center;
}

.config-btn {
    padding: 10px;
    background-color: #388e3c;
    border: none;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
}

.config-menu {
    display: none;
    background-color: #81c784;
    border-radius: 5px;
    position: absolute;
    bottom: 60px; /* Asegura que el menú no se solape con el botón */
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.config-menu.show {
    display: block;
}

.config-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.config-menu ul li {
    padding: 10px;
    text-align: center;
}

.config-menu ul li a {
    text-decoration: none;
    color: #388e3c;
    display: block;
}

.config-menu ul li a:hover {
    background-color: #2e7d32;
    color: white;
}

/* Área de contenido dinámico */
.content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
